# General
.env
node_modules/
__pycache__/
*.pyc
.DS_Store

# Python
venv/

# Frontend
/build
/dist
/.pnp
.pnp.js

# Logs
*.log
frontend/.next/

# Editor configs
.idea/
.vscode/

*.db
*.pyc
__pycache__/
.env
# Node
node_modules/
frontend/node_modules/
